body {
  padding: 0;
  text-align: center;
}

.game-body {
  background-image: url(../images/background6.png);
  background-size: cover;
  color: goldenrod;
  padding: 100px 0px;
  margin: auto;
  align-content: center;
  align-items: center;
}

#game-intro {
  padding: 20px 0px;
}

#game-container {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
}

#stats-container {
  background-color: purple;
  border: 5px solid goldenrod;
  border-radius: 10px;
  padding-right: 50px;
  padding-left: 55px;
  margin-top: 20px 0px;
  margin-bottom: 20px 0px;
  height: auto;
  width: auto;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/background.png);
  background-size: cover;
  border: 5px solid;
  border-radius: 10px;
  height: auto;
  width: auto;
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }

  95% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 50px;
  }
}

#game-end {
  display: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#start-message {
  font-size: xx-large;
}

#start-button {
  font-size: xx-large;
  color: white;
  border: 5px solid goldenrod;
  background-color: purple;
  border-radius: 50px;
}

#restart-button {
  font-size: xx-large;
  color: white;
  border: 5px solid goldenrod;
  background-color: purple;
  border-radius: 50px;
}

#start-message {
  font-size: xx-large;
  border: 5px solid goldenrod;
  background-color: purple;
  border-radius: 15px;
  margin-left: 500px;
  margin-right: 500px;
  padding: 10px;
}

/* for mobile devices */

@media only screen and (max-width: 600px) {
  .game-intro p {
    font-size: 14px;
  }
  .logo-img {
    width: 200px;
  }
  .arrows-img {
    width: 100px;
  }
  #start-message {
    font-size: x-large;
  }
  #start-button {
    font-size: x-large;
  }
  #restart-button {
    font-size: x-large;
  }
}